@()(implicit req: RequestHeader)

@helper.javascriptRouter("routes")(
    routes.javascript.Swagger.generate
)

@main("Swagger2Postman", moreScripts = knockout()) {
<div class="row">
    <form role="form" class="form-horizontal col-md-6">
        <h4>Swagger2Postman</h4>
        @htmlControl("Swagger Host"){
            <div class="col-md-9">
                <input class="form-control" type="text" data-bind="value: host" placeholder="URL where the Swagger doc is hosted" required/>
            </div>
        }
        @htmlControl("Swagger Version"){
            <div class="col-md-9">
                <select class="form-control">
                    <option>1.2</option>
                </select>
            </div>
        }
        @htmlControl("Collection Name"){
            <div class="col-md-9">
                <input class="form-control" type="text" data-bind="value: name" placeholder="Name of collection in Postman" required/>
            </div>
        }
        @htmlControl("Global Headers"){
        <div class="col-md-9">
            <div class="row" data-bind="foreach: headers">
                <div class="col-md-5">
                    <input class="form-control" type="text" data-bind="value: key" placeholder="Key"/>
                </div>
                <div class="col-md-5">
                    <input class="form-control" type="text" data-bind="value: value" placeholder="Value"/>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-sm" data-bind="click: $root.removeHeader"><i class="fa fa-trash"></i></button>
                </div>
            </div>
            <button class="btn btn-sm" data-bind="click: addHeader">Add Header</button>
        </div>
        }
        <br>
        <button class="btn btn-primary btn-block" data-bind="click: generate">Generate Postman</button>
    </form>
    <div class="col-md-6">
        <h4>Postman JSON</h4>
        @htmlControl(""){
        <textarea data-bind="value: postman" rows="20" class="col-md-12" placeholder="Postman JSON result"></textarea>
        }
    </div>
</div>
}

<script>
function Header(){
    var self = this;
    self.key = ko.observable();
    self.value = ko.observable();
}

function Swagger(){
    var self = this;
    self.host = ko.observable();
    self.name = ko.observable();
    self.headers = ko.observableArray([]);
    self.postman = ko.observable();

    self.json = function(){
        var js = ko.toJS(self);
        var headers = {}
        for(var i = 0; i < self.headers().length; i++){
            headers[self.headers()[i].key()] = self.headers()[i].value()
        }

        js["headers"] = headers;
        return JSON.stringify(js);
    }

    self.generate = function(){
        routes.controllers.Swagger.generate().ajax({
            data: self.json(),
            contentType: 'text/json',
            success: function(data){
                self.postman(JSON.stringify(data));
            },
            error: function(data){
                console.log(data);
            }
        });
    }

    self.addHeader = function(){
        self.headers.push(new Header())
    }

    self.removeHeader = function(h){
        self.headers.remove(h);
    }
}

var swagger = new Swagger();
ko.applyBindings(swagger);
</script>
