@(columns:Seq[String], rs:Seq[Map[String,String]])(implicit req: RequestHeader)

@main("Cloud DB") {
    <h3>Results</h3>
    <table id="myTable" class="tablesorter">
        <thead>
            <tr>
            @for(c <- columns){
                <th>@c</th>
            }
            </tr>
        </thead>
        <tbody>
            @for(row <- rs){
            <tr>
                @for(c <- columns){
                <td>@row(c)</td>
                }
            </tr>
            }
        </tbody>
    </table>
}

<script>
$(document).ready(function(){
    $("#myTable").tablesorter();
});
</script>
