@()(implicit req: RequestHeader)

@helper.javascriptRouter("dbRoutes")(
    controllers.db.routes.javascript.DBTool.execute
)

@main("Cloud Database Query Engine", moreScripts = knockout()) {
    <form class="form-inline" role="form">
        <div class="form-group">
            <input type="text" class="form-control" data-bind="value: driver" placeholder="Driver"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" data-bind="value: url" placeholder="URL"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control"data-bind="value: user" placeholder="Username"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" data-bind="value: pass" placeholder="Password"/>
        </div>
    </form>
    <textarea class="col-md-12" rows="5" data-bind="value: query"></textarea>
    <button class="btn" data-bind="click: execute">Submit</button>

    <h4>Results</h4>
    <p data-bind="visible: resultSet().rows().length == 0, text: response"></p>
    <table id="myTable" class="tablesorter col-md-12" data-bind="visible: resultSet().rows().length > 0">
        <thead>
            <tr data-bind="foreach: resultSet().columns">
                <th data-bind="text: $data"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: { data: resultSet().rows, as: 'row' }">
            <tr data-bind="foreach: { data: $root.resultSet().columns, as: 'column' }">
                <td data-bind="text: row[column]"></td>
            </tr>
        </tbody>
    </table>
}

<script>
function ResultSet(){
    var self = this;
    self.columns = ko.observableArray([]);
    self.rows = ko.observableArray([]);
    self.clear = function(){
        self.rows.removeAll();
        self.columns.removeAll();
    }
}

function DB(){
    var self = this;
    self.url = ko.observable("");
    self.driver = ko.observable("");
    self.user = ko.observable("");
    self.pass = ko.observable("");
    self.query = ko.observable("");

    self.resultSet = ko.observable(new ResultSet());
    self.response = ko.observable("");

    //db.load("org.h2.Driver", "jdbc:h2:tcp://swingstats.com/~/golf", "sa", "arvydas11");
    self.load = function(driver, url, user, pass){
        self.driver(driver);
        self.url(url);
        self.user(user);
        self.pass(pass);
    }

    self.execute = function(){
        dbRoutes.controllers.db.DBTool.execute().ajax({
            data: ko.toJSON(self),
            contentType: 'text/json',
            success: function(data){
                if(data.message){
                    self.response(data.message);
                    self.resultSet().clear();
                }else{
                    self.response("");
                    self.resultSet().columns(data.columns);
                    self.resultSet().rows(data.rows);
                    $("#myTable").tablesorter();
                }
            },
            error: function(data){
                self.response($.parseJSON(data.responseText).message);
            }
        });
    }
}

var db = new DB();
ko.applyBindings(db);


</script>
