@()

<script src="@routes.Assets.at("javascripts/knockout-2.3.0.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/knockout-mapping-2.4.1.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/viewmodel.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/pager.js")" type="text/javascript"></script>

<script type="text/html" id="pagerControlsTmpl">
    <div class="pager">
        <li><a class="disabled" data-bind="visible: currentPage() > 0, click: first"><i class="icon-fast-backward"></i></a></li>
        <li><a data-bind="visible: currentPage() > 0, click: prev"><i class="icon-backward"></i></a></li>
        <span data-bind="text: pageLabel()"></span>
        <li><a data-bind="visible: currentPage() < pageCount() - 1, click: next"><i class="icon-forward icon-small"></i></a></li>
        <li><a data-bind="visible: currentPage() < pageCount() - 1, click: last"><i class="icon-fast-forward"></i></a></li>
    </div>
</script>